#Binaries related
.obj/
*.a
logs
gpslogs
.dub/
tempestintel

#Web tool related
web_root/libs/
web_root/app_old/

#Documentation related
docs.json
doc/*
!doc/images/
!doc/prettify/
!doc/scripts/
!doc/styles/

# Dub related
dub.selections.json

#Notes
*.notes

#Editor configuration related
.zedstate

#Miscellaneous
*.log
tags
res/restoreRoute.json
hidden/
dub.selections.json
