<div class="panel panel-default">
  <div class="panel-heading"><strong>Decisions</strong></div>

	<ul class="panel-body list-unstyled">
		<li class="row" ng-controller="autopilotCtrl">
			<div class="col-sm-3">
				<div class="onoffswitch">
					<input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="toggle-AP" ng-checked="autopilot.enabled" ng-click="toggleAutopilot();">
					<label class="onoffswitch-label" for="toggle-AP">
				        <div class="onoffswitch-inner"></div>
				        <div class="onoffswitch-switch"></div>
				    </label>
				</div>
			</div>
			
			<div class="col-sm-3">Autopilot</div>
		</li>
		<li class="row" ng-controller="shCtrl">
			<div class="col-sm-3">
				<div class="onoffswitch">
					<input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="toggle-SH" ng-checked="sh.enabled" ng-click="toggleSH();">
					<label class="onoffswitch-label" for="toggle-SH">
				        <div class="onoffswitch-inner"></div>
				        <div class="onoffswitch-switch"></div>
				    </label>
				</div>
			</div>
			
			<div class="col-sm-3">Sail Handler</div>
		</li>
		<li class="row"  ng-controller="dcCtrl">
			<div class="col-sm-3">
				<div class="onoffswitch">
					<input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="toggle-DC" ng-checked="dc.enabled" ng-click="toggleDC();">
					<label class="onoffswitch-label" for="toggle-DC">
				        <div class="onoffswitch-inner"></div>
				        <div class="onoffswitch-switch"></div>
				    </label>
				</div>
			</div>
			
			<div class="col-sm-3">Decision center</div>
		</li>
		<li ng-controller="dcModulesCtrl">
			<ul class="panel-body list-unstyled">
				<li class="row">
					<label>Target position (Latitude / Longitude)</label>
					<div class="input-group">
					 	<input type="text" class="form-control" style="width: 50%" name="latitude" ng-model="dc.targetPosition.latitude" ng-disabled="dc.enabled"/>
					 	<input type="text" class="form-control" style="width: 50%" name="longitude" ng-model="dc.targetPosition.longitude"  ng-disabled="dc.enabled"/>
						<span class="input-group-btn">
							<button class="btn btn-primary" type="button" ng-click="setTargetPosition();" ng-disabled="dc.enabled"><div class="glyphicon glyphicon-ok"></div></button>
						</span>
					</div>

				</li>
				<li><br/></li>
				<li class="row">
					<label>Target Heading (degrees)</label>
					<div class="input-group">
						<input type="text" class="form-control" name="angle" ng-model="dc.targetHeading" ng-disabled="dc.enabled"/>
						<span class="input-group-btn">
							<button class="btn btn-primary" type="button" ng-click="setTargetHeading();" ng-disabled="dc.enabled"><div class="glyphicon glyphicon-ok"></div></button>
						</span>
					</div>
				</li>
			</ul>
		</li>
	</ul>

</div>