<div class="panel panel-default">
  <div class="panel-heading"><h2>Decisions</h2></div>

	<ul class="panel-body list-unstyled">
		<li class="row" ng-controller="autopilotCtrl">
			<div class="col-sm-3">
				<div class="onoffswitch">
					<input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="toggle-AP" ng-checked="autopilot.enabled" ng-click="toggleAutopilot();">
					<label class="onoffswitch-label" for="toggle-AP">
				        <div class="onoffswitch-inner"></div>
				        <div class="onoffswitch-switch"></div>
				    </label>
				</div>
			</div>
			
			<div class="col-sm-3">Autopilot</div>
		</li>
		<li class="row" ng-controller="shCtrl">
			<div class="col-sm-3">
				<div class="onoffswitch">
					<input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="toggle-SH" ng-checked="sh.enabled" ng-click="toggleSH();">
					<label class="onoffswitch-label" for="toggle-SH">
				        <div class="onoffswitch-inner"></div>
				        <div class="onoffswitch-switch"></div>
				    </label>
				</div>
			</div>
			
			<div class="col-sm-3">Sail Handler</div>
		</li>
		<li class="row"  ng-controller="dcCtrl">
			<div class="col-sm-3">
				<div class="onoffswitch">
					<input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="toggle-DC" ng-checked="dc.enabled" ng-click="toggleDC();">
					<label class="onoffswitch-label" for="toggle-DC">
				        <div class="onoffswitch-inner"></div>
				        <div class="onoffswitch-switch"></div>
				    </label>
				</div>
			</div>
			
			<div class="col-sm-3">Decision center</div>
		</li>
		<li class="panel panel-default" ng-controller="dcCtrl">
			<ul class="panel-body list-unstyled">
				<li class="row">

					<div class="panel panel-default">
						<div class="panel-heading">Target position</div>
						<ul class="panel-body list-unstyled">
							<li class="row">
								<div class="col-sm-3">Longitude</div>
								<input  class="col-sm-9 row"type="text" class="col-xs-6" name="longitude" ng-model="dc.targetPosition.longitude" ng-disabled="dc.enabled">
							</li>
							<li class="row">
								<div class="col-sm-3">Latitude</div>
								<input  class="col-sm-9 row"type="text" class="col-xs-6" name="latitude" ng-model="dc.targetPosition.latitude" ng-disabled="dc.enabled">
							</li>
							<li class="row">
								<button type="button" ng-click="setTargetPosition();" ng-hide="dc.enabled" ng-disabled="dc.enabled">Set</button>
							</li>
						</ul>
					</div>

				</li>
				<li class="row">
					<div class="panel panel-default">
						<div class="panel-heading">Target Heading</div>
						<ul class="panel-body list-unstyled">
							<li class="row">
								<div class="col-sm-3">Angle</div>
								<input  class="col-sm-9 row"type="text" class="col-xs-6" name="angle" ng-model="dc.targetHeading" ng-disabled="dc.enabled">
							</li>
							<li class="row">
								<button type="button" ng-click="setTargetHeading();" ng-hide="dc.enabled" ng-disabled="dc.enabled">Set</button>
							</li>
						</ul>
					</div>
				</li>
			</ul>
		</li>
	</ul>

</div>