<div class="panel panel-default">
  <div class="panel-heading"><h2>Devices</h2></div>
	<ul class="panel-body list-unstyled">
		<li class="row" ng-repeat="device in devices | removeGPS">
			<div class="col-sm-3">
				<div class="emulswitch">
					<input type="checkbox" name="emulswitch" class="emulswitch-checkbox" id="device-emul-{{device.id}}" ng-checked="device.emulated" ng-click="toggleDevice(device.id);">
					<label class="emulswitch-label" for="device-emul-{{device.id}}">
				        <div class="emulswitch-inner"></div>
				        <div class="emulswitch-switch"></div>
				    </label>
				</div>
			</div>
			
			<div class="col-sm-3">{{device.name}}</div>
			<div class="col-sm-6 row">
				<button class="col-xs-3" type="button" ng-click="deltaDevice(device.id, -device.delta)" ng-disabled="!device.emulated">{{device.lowCaption}}</button>

				<input type="text" class="col-xs-6" name="value" value="{{device.value}}" ng-disabled="!device.emulated">

				<button class="col-xs-3" type="button" ng-click="deltaDevice(device.id, device.delta)" ng-disabled="!device.emulated">{{device.highCaption}}</button>
			</div>
		</li>
		<li class="row">
			<div class="col-sm-3">
				<div class="emulswitch">
					<input type="checkbox" name="emulswitch" class="emulswitch-checkbox" id="device-emul-GPS" ng-checked="devices[2].emulated" ng-click="toggleDevice(devices[2].id);">
					<label class="emulswitch-label" for="device-emul-GPS">
				        <div class="emulswitch-inner"></div>
				        <div class="emulswitch-switch"></div>
				    </label>
				</div>
			</div>
			<div class="col-sm-3">GPS</div>
		</li>
		<li class="row">
            <div class="col-md-offset-3 col-sm-3">Latitude</div>
            <div class="col-sm-6">
                <input type="text" name="value" value="{{devices[2].value.latitude}}" ng-model="gps.latitude" ng-disabled="!devices[2].emulated">
            </div>
        </li>
		<li class="row">
			<div class="col-md-offset-3 col-sm-3">Longitude</div>
			<div class="col-sm-6">
				<input type="text" name="value" value="{{devices[2].value.longitude}}"ng-model="gps.longitude"  ng-disabled="!devices[2].emulated">
        	</div>
		</li>
		<li class="row">
            <div class="col-md-offset-3 col-sm-6">
                <button class="col-xs-3" type="button" ng-click="setGPS(gps.latitude, gps.longitude)" ng-hide="!devices[2].emulated">Set</button>
        
            </div>
        </li>
	</ul>
</div>