<div class="row">

	<div class="col-md-6" >
		<div decisions></div>
	</div>
	
	<div class="col-md-6">
		<div devices ng-controller="deviceCtrl"></div>
		<div logs ng-controller="logCtrl"></div>
	</div>

	<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
  		<div class="container">
	  		<div class="navbar-form navbar-left">
		    	<label for="refreshPeriodInput">Auto-Refresh : </label>
		    	<select id="refreshPeriodInput" class="form-control" ng-model="refreshPeriod" ng-change="refresh()">
					<option value="-1">None</option>
					<option value="1000">1 sec</option>
					<option value="3000">3 sec</option>
					<option value="5000">5 sec</option>
					<option value="10000">10 sec</option>
					<option value="30000">30 sec</option>
				</select>
				<button class="btn btn-default" ng-click="forceRefresh()">Refresh once</button>
			</div>
			<div class="navbar-form navbar-right">
				<button class="btn btn-default" ng-click="backToStart()">Back to start position</button>
				<button class="btn btn-danger" ng-click="emergencyStop()">Emergency stop</button>
			</div>
		</div>
	</nav>

</div>